#version=DEVEL
# System authorization information
auth --useshadow  --enablemd5
# Install OS instead of upgrade
install
# Use network installation
url --url="http://172.29.161.115/pxe/iso"
# Use text mode install
text
# Firewall configuration
firewall --disabled
firstboot --disable
ignoredisk --only-use=sda
# Keyboard layouts
# old format: keyboard us
# new format:
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
# Network information
network  --bootproto=dhcp --device=enp5s0f0
network  --hostname=manta-bmt-sm14
# Reboot after installation
reboot
# Root password
rootpw --plaintext complicatedpasswordisneeded
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx
# System timezone
timezone Etc/UTC --ntpservers=headnode,headnode
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --password="redhat" --boot-drive=sda
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all
# Disk partitioning information
part swap --fstype="swap" --size=5119
part /boot --fstype="xfs" --size=500
part / --fstype="xfs" --size=20480
%packages --ignoremissing
@base
@core
@editors
kexec-tools
net-tools
ntpdate
strace
sysstat
wget
%end
%addon com_redhat_kdump --enable --reserve-mb='auto'
%end
